<!DOCTYPE HTMl>
<html>
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/404_water_drop_style.css" type="text/css" media="all" />
</head>
<body>
	<div class="wrap">
		<h1>Arbboter</h1>
		<div class="banner"><img src="/images/fuel-404-logo.png" alt="" /></div>
		<div class="search">
			<form>
				<input type="text"  value="" placeholder="drop your email " />
				<input type="submit" value="" />
			</form>
		</div>
		<div class="copy">
			<p>Design by <a href="http://w3layouts.com">w3layouts</a></p>
		</div>
	</div>
</body>
</html>

